* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    margin-bottom: 1rem;
}

main {
    width: 80vw;
    max-width: 600px;
    padding: 1rem;
    background-color: white;
}

.nav-bar {
    display: grid;
    text-align: center;
}

.nav-bar input {
    display: none;
}

.nav-bar label {
    padding: 1rem;
    background-color: #d6edff;
    color: blue;
    cursor: pointer;
}

main:has(:checked:nth-of-type(1)) #past,
main:has(:checked:nth-of-type(2)) #present,
main:has(:checked:nth-of-type(3)) #future {
    color: white;
    background-color: rgb(136, 136, 255);
}

[class^="tabbed-content-"] {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
}

main:has(:checked:nth-of-type(1)) .tabbed-content-1,
main:has(:checked:nth-of-type(2)) .tabbed-content-2,
main:has(:checked:nth-of-type(3)) .tabbed-content-3 {
    margin-top: 1rem;
    max-height: fit-content;
    opacity: 1;
    transition: opacity 1s ease;
}

@media (min-width: 640px) {
    .nav-bar {
        grid-template-columns: 1fr 1fr 1fr;
    }
}